---
const testimonials = [
  {
    name: "Real Hotel",
    // role: "Gerente, Real Hotel",
    avatar: "/image/LogoTestimonios/EllipseRealHotel.svg",
    feedback:
      '"General System SAS transformó nuestros procesos internos con un software a medida que aumentó nuestra eficiencia en un 40%. Su equipo es altamente profesional y comprometido."',
  },
  {
    name: "Atachagua",
    // role: "Gerente, Atachagua",
    avatar: "/image/LogoTestimonios/EllipseAtachagua.svg",
    feedback:
      '"La integración de sistemas que implementaron nos permitió centralizar toda nuestra información y tomar decisiones más informadas."',
  },
  {
    name: "Las Rocas",
    // role: "CTO, DataSolutions",
    avatar: "/image/LogoTestimonios/EllipseLasRocas.svg",
    feedback:
      '"Su consultoría tecnológica nos ayudó a identificar oportunidades de mejora que no habíamos considerado. Ahora tenemos una hoja de ruta clara para nuestra transformación digital."',
  },
  {
    name: "Yunga Cementos",
    // role: "Gerente de Producción",
    avatar: "/image/LogoTestimonios/EllipseYunga.svg",
    feedback:
      '"Gracias al sistema desarrollado a medida, hemos optimizado la trazabilidad de nuestros procesos de producción y logística. La solución se adaptó perfectamente a nuestras operaciones industriales."',
  },
  {
    name: "Atachagua",
    // role: "Jefa de Operaciones",
    avatar: "/image/LogoTestimonios/EllipseAtachaguaSelva.svg",
    feedback:
      '"Con la solución implementada por General System, ahora gestionamos pedidos, inventario y distribución en tiempo real. Su equipo entendió nuestras necesidades desde el primer día."',
  },
  {
    name: "SacsMype",
    // role: "Directora de Proyectos",
    avatar: "/image/LogoTestimonios/EllipseSacsMype.svg",
    feedback:
      '"Su consultoría nos permitió validar y optimizar nuestros procesos de verificación de identidad y solicitud de firma digital para la constitución de empresas. Ahora operamos con mayor seguridad y eficiencia."',
  },
];
---

<section id="Testimonios" class="py-12 md:py-16 scroll-mt-12">
  <div class="container px-4 md:px-6 mx-auto">
    <!-- Header Section -->
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-[#112f59]"
        >
          Lo que dicen nuestros clientes
        </h2>
        <p
          class="mx-auto max-w-[700px] text-gray-600 md:text-xl leading-relaxed"
        >
          Testimonios de clientes satisfechos con nuestras soluciones
        </p>
      </div>
    </div>

    <!-- Testimonials Grid -->
    <div
      class="mx-auto grid max-w-5xl grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 mt-12"
    >
      {
        testimonials.map((testimonial) => (
          <div class="border-none shadow-md bg-white rounded-lg p-6">
            <div class="flex flex-col space-y-4">
              <div class="flex items-center space-x-4">
                <div class="rounded-full bg-[#2b8dcc]/10 p-1">
                  <img
                    src={testimonial.avatar}
                    alt={`Avatar de ${testimonial.name}`}
                    width="65"
                    height="65"
                    class="rounded-full"
                  />
                </div>
                <div>
                  <h4 class="text-lg font-semibold text-[#112f59]">
                    {testimonial.name}
                  </h4>
                  {/* <p class="text-sm text-gray-500">{testimonial.role}</p> */}
                </div>
              </div>
              <p class="text-gray-600">{testimonial.feedback}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
